<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshdaquino.bluetoothspp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.joshdaquino.bluetoothspp.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joshdaquino.bluetoothspp.SimpleActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.joshdaquino.bluetoothspp.ListenerActivity"
            android:label="@string/title_activity_listener" >
        </activity>
        <activity
            android:name="com.joshdaquino.bluetoothspp.AutoConnectActivity"
            android:label="@string/title_activity_auto_connect" >
        </activity>
        <activity
            android:name="com.joshdaquino.bluetoothspp.DeviceListActivity"
            android:label="@string/title_activity_device_list" >
        </activity>
        <activity
            android:name="com.joshdaquino.bluetoothspp.TerminalActivity"
            android:label="@string/title_activity_terminal" >
        </activity>
    </application>

</manifest>
